<div class="login-container">
    <div class="login-card">
      <div class="login-header">
        <h2><i class='bx bx-code'></i> DevTest</h2>
        <p>Ingresa tus credenciales para continuar</p>
      </div>
      
      @if (errorMessage()) {
        <div class="alert alert-danger"><i class='bx bx-error-circle'></i> {{ errorMessage() }}</div>
      }
      
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
        <div class="form-group">
          <label>Usuario</label>
          <div class="input-wrapper">
            <i class='bx bxs-user'></i>
            <input type="text" formControlName="username" placeholder="Ej: admin">
          </div>
          @if (f['username'].touched && f['username'].invalid) {
            <div class="error-text">
              <small>El usuario es requerido.</small>
            </div>
          }
        </div>
        
        <div class="form-group">
          <label>Contraseña</label>
          <div class="input-wrapper">
            <i class='bx bxs-lock-alt'></i>
            <input type="password" formControlName="password" placeholder="••••••••">
          </div>
          @if (f['password'].touched && f['password'].invalid) {
            <div class="error-text">
              <small>La contraseña es requerida.</small>
            </div>
          }
        </div>
        
        <button type="submit" class="login-btn">
          Iniciar Sesión
        </button>
  
        <div style="text-align: center; margin-top: 15px;">
          <a routerLink="/register" style="color: #38bdf8; text-decoration: none; font-size: 14px;">¿No tienes cuenta? Regístrate</a>
        </div>
      </form>
    </div>
  </div>